.nav{
   max-height: 50px;
    font-size:14px;
   float: right;    
   color: lightgrey;
    padding: 2em 2em 4em 5em;
    margin-left:68%;
    z-index: 3;
    position: absolute;
}

.page{
  max-height: 50px;
    font-size:14px;
   float: left;    
   color: lightgrey;
   padding: 2em 2em 4em;
}

body{
    box-shadow: 0 0 e px rgba(0, 0, 0. 0.06);
    background-color: #f8f8f8;
    font-family: "aktiv-grotesk", Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin:0 auto;
}

.parent{
    max-width: 1000px;
    margin-left:8%;
    margin-top: -9%;
    padding: 0 2em 2em;
    float: left;
}
.color{
    background-color:#41505b;
    margin: 15% auto;
    width: 100%;
    height: 950px;
}
.text{
    position: relative;
    z-index: 1;
    color: #e66643;
    margin-top: -22%;
    margin-left: -2%;
    float: left;
}

h3{
    font-size: 150px;
    line-height: 115px;
    letter-spacing: 8;
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
    -webkit-transform:rotate(-90deg);
}

.setting1{
    position:absolute;
    z-index: 2;
    margin-top:550px;
    margin-left: 5%;
    margin-right: 30%;
    float: left;
    
}

p {
    font-family: Lobster;
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3;   
}




a{
    color:grey;
}
